Repository VatsalSy/CloudPull: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-mod-verify, go-generate, go-build, go-test-unit, go-sec

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-mod-tidy: any of: go.mod, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-mod-verify: any of: go.mod, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-generate: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-build: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-test-unit: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-sec: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$

Fix linting issues and update configuration
  .golangci.yml
  cmd/cloudpull/root.go
  cmd/cloudpull/status.go
  examples/full_sync_example.go
  internal/api/api_test.go
  internal/app/app.go
  internal/errors/errors_test.go
  internal/state/manager.go
  internal/sync/downloader.go
  internal/sync/engine.go
  internal/sync/walker.go
  internal/sync/worker.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

first working version
  cmd/cloudpull/sync.go
  internal/sync/downloader.go
  internal/sync/engine.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Add OAuth setup documentation and example credentials file
  .gitignore
  README.md
  client_secret.example.json
Due: none

Update .gitignore and clean up README
  .gitignore
  README.md
Due: none

cli details added
  .claude/PROJECT_OVERVIEW.md
  .claude/architecture/TECHNICAL_DESIGN.md
  .claude/implementation/INTEGRATION_PLAN.md
  .claude/implementation/PHASE_1_PLAN.md
  .claude/implementation/SUBAGENT_TASKS.md
  .claude/research/GOOGLE_DRIVE_API_NOTES.md
  .claude/specs/DATABASE_SCHEMA.sql
  CLI_USAGE.md
Due: none

Document development history and architectural decisions
  .claude/README.md
  README.md
Due: none

Consolidate documentation into README and remove docs folder
  README.md
  docs/INTEGRATION.md
Due: none

cli almost ready to be deployed...
  .gitignore
  internal/api/api_test.go
  internal/app/app_test.go
  internal/errors/errors_test.go
  internal/logger/logger_test.go
  pkg/progress/metrics_test.go
  pkg/progress/tracker_test.go
  scripts/test.sh
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

coderabbit comments done ✅
  .claude/README.md
  .claude/implementation/INTEGRATION_PLAN.md
  .claude/implementation/SUBAGENT_TASKS.md
  .cloudpull.example.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .gitignore
  .golangci.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  Dockerfile
  LICENSE
  client_secret.example.json
  cmd/cloudpull/auth.go
  cmd/cloudpull/init.go
  examples/config.yaml
  internal/api/README.md
  internal/api/example_usage.go.example
  internal/app/app.go
  internal/app/example_usage.go
  internal/state/helpers.go
  internal/state/models.go
  internal/sync/README.md
  internal/sync/helpers.go
  temp.txt
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix build errors by removing duplicate formatBytes and unused config import
  cmd/cloudpull/init.go
  internal/app/example_usage.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix failing tests across multiple packages
  internal/errors/errors_test.go
  internal/errors/retry.go
  internal/logger/logger_test.go
  pkg/progress/tracker_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix Windows compatibility issues
  cmd/cloudpull/status.go
  internal/api/api_test.go
  internal/app/app.go
  internal/app/signals_unix.go
  internal/app/signals_windows.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

updates to try and run github PR checks
  .claude/architecture/TECHNICAL_DESIGN.md
  .claude/implementation/INTEGRATION_PLAN.md
  .github/workflows/ci-fix-macos-arm64.yml
  .golangci.yml
  cmd/cloudpull/config.go
  cmd/cloudpull/init.go
  cmd/cloudpull/root.go
  cmd/cloudpull/sync.go
  internal/api/api_test.go
  internal/api/client.go
  internal/config/config.go
  internal/logger/logger.go
  internal/sync/downloader.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

cli almost ready to be deployed
  .claude/research/GOOGLE_DRIVE_API_NOTES.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .gosec.json
  CLI_USAGE.md
  README.md
  cmd/cloudpull/config.go
  cmd/cloudpull/status.go
  cmd/cloudpull/sync.go
  internal/api/README.md
  internal/errors/README.md
  internal/sync/README.md
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Optimize Dockerfile layers and fix YAML formatting
  .pre-commit-config.yaml
  Dockerfile
Due: none

Fix tilde expansion and progress monitor bugs in full_sync_example
  .claude/implementation/SUBAGENT_TASKS.md
  .github/workflows/release.yml
  README.md
  examples/full_sync_example.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix division by zero in progress calculation and update dependencies
  .claude/architecture/TECHNICAL_DESIGN.md
  cmd/cloudpull/resume.go
  go.mod
Due: go-fmt, go-mod-tidy, go-mod-verify, go-generate, go-build, go-test-unit, go-sec

Fix test race conditions and improve signal handling tests
  internal/app/app.go
  internal/app/app_test.go
  internal/config/config.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix token revocation to revoke both access and refresh tokens
  internal/api/auth.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix hard-coded redirect URL configuration
  cmd/cloudpull/auth.go
  internal/api/auth_redirect_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix goroutine shutdown, config issues, and improve error handling
  .claude/PROJECT_OVERVIEW.md
  .golangci.yml
  .goreleaser.yml
  cmd/cloudpull/init.go
  cmd/cloudpull/resume.go
  internal/app/app.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Enhance user experience and fix SQL schema issues
  .cloudpull.example.yaml
  .github/changelog-config.json
  internal/app/example_usage.go
  internal/state/schema.sql
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Convert block comments to standard Go line comments in helpers.go
  .github/workflows/ci-fix-macos-arm64.yml
  Makefile
  internal/state/helpers.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix CI workflow YAML formatting and update dependencies
  .github/ISSUE_TEMPLATE/feature_request.md
  cmd/cloudpull/config.go
  cmd/cloudpull/resume.go
  cmd/cloudpull/status.go
  cmd/cloudpull/sync.go
  internal/state/folders.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix placeholder repository URL in CLI_USAGE.md
  CLI_USAGE.md
  cmd/cloudpull/sync.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix ticker interval and survey error handling in resume command
  cmd/cloudpull/resume.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix CI issues and improve timestamp handling
  .claude/implementation/PHASE_1_PLAN.md
  .claude/implementation/SUBAGENT_TASKS.md
  .github/workflows/ci-fix-macos-arm64.yml
  internal/api/example_usage.go.example
  internal/api/ratelimiter.go
  internal/errors/types.go
  internal/errors/wrap.go
  internal/state/database.go
  internal/state/sessions.go
  internal/state/state.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Clarify authentication file path comments in example config
  .cloudpull.example.yaml
  internal/api/batch.go
  internal/api/ratelimiter.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix concurrency and error handling issues in sync package
  internal/sync/events.go
  internal/sync/example_usage.go.example
  internal/sync/helpers.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

code rabbit comments satisfied
  .claude/specs/DATABASE_SCHEMA.sql
  internal/errors/example_usage.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix build errors in error handling and sync packages
  internal/errors/example_usage.go
  internal/sync/helpers.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Fix all pre-commit hook issues for deployment
  .nosec
  .pre-commit-config.yaml
  internal/errors/retry.go
  scripts/hooks/go-security.sh
  scripts/hooks/golangci-lint.sh
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

cli updated
  .claude/PROJECT_OVERVIEW.md
  .claude/research/GOOGLE_DRIVE_API_NOTES.md
  .gitignore
  internal/errors/README.md
  internal/state/helpers.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fixed some reviews
  .claude/architecture/TECHNICAL_DESIGN.md
  .github/workflows/ci-fix-macos-arm64.yml
  .golangci.yml
  README.md
  cmd/cloudpull/config.go
  cmd/cloudpull/sync.go
  examples/full_sync_example.go
  internal/api/README.md
  internal/api/api_test.go
  internal/api/auth.go
  internal/api/ratelimiter.go
  internal/app/app_test.go
  internal/errors/errors_test.go
  internal/errors/types.go
  internal/state/database.go
  internal/state/folders.go
  internal/state/interfaces.go
  internal/state/sessions.go
  internal/state/state.go
  internal/sync/events.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: skip signal handling test in short mode to prevent test interruption
  internal/app/app_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

chore: update dependencies - protobuf to v1.33.0 and crypto to v0.35.0
  go.mod
  go.sum
Due: go-mod-tidy, go-mod-verify

chore: consolidate dependency updates and fix build issues
  .github/workflows/ci-fix-macos-arm64.yml
  .github/workflows/ci.yml
  cmd/cloudpull/cleanup.go
  go.mod
  go.sum
  internal/state/manager_test.go
Due: go-fmt, go-mod-tidy, go-mod-verify, go-generate, go-build, go-test-unit, go-sec
