Repository VatsalSy/CloudPull: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-mod-verify, go-generate, go-build, go-test-unit, go-sec

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-mod-tidy: any of: go.mod, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-mod-verify: any of: go.mod, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-generate: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-build: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-test-unit: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$
  go-sec: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .git/.*|
  .*\.pb\.go|
  .*\.gen\.go|
  testdata/.*
)$

test check
  internal/state/manager_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

Trim push triggers and add concurrency
  .github/workflows/ci-fix-macos-arm64.yml
  .github/workflows/ci.yml
Due: none

fix: improve CI stability and add sync package tests
  .github/workflows/ci-fix-macos-arm64.yml
  .github/workflows/ci.yml
  .markdownlint.yaml
  .markdownlint.yml
  internal/sync/sync_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: resolve CI failures for Windows tests and markdown linting
  .github/workflows/ci.yml
  README.md
Due: none

fix: correct Go version in go.mod and update golangci-lint
  .github/workflows/ci.yml
  go.mod
Due: go-mod-tidy, go-mod-verify

fix: address CI review comments for test stability and CGO
  .github/workflows/ci.yml
  internal/sync/sync_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

chore: upgrade to Go 1.24
  .github/workflows/ci.yml
  go.mod
Due: go-mod-tidy, go-mod-verify

chore: update golangci-lint to v1.64.2 for Go 1.24 support
  .github/workflows/ci.yml
Due: none

fix: improve test robustness by removing internal implementation coupling
  internal/sync/downloader.go
  internal/sync/sync_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: resolve CI lint and test failures
  .golangci.yml
  internal/state/files.go
  internal/state/manager.go
  internal/state/manager_test.go
  internal/state/queries.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: address lint errors in config and init commands
  cmd/cloudpull/config.go
  cmd/cloudpull/init.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: improve error handling per code review
  cmd/cloudpull/config.go
  cmd/cloudpull/init.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

refactor: improve code quality in command handlers
  cmd/cloudpull/init.go
  cmd/cloudpull/resume.go
  cmd/cloudpull/root.go
  cmd/cloudpull/status.go
  cmd/cloudpull/sync.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

ci: disable race detector on Windows for test stability
  .github/workflows/ci.yml
Due: none

ci: drop Go 1.23 from test matrix
  .github/workflows/ci.yml
Due: none

fix: move signal handling test to unix-only build
  internal/app/app_signal_unix_test.go
  internal/app/app_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

refactor: extract token revocation helper and remove unused code
  internal/api/api_test.go
  internal/api/auth.go
  internal/app/app_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: improve error handling and code quality across CLI commands
  README.md
  cmd/cloudpull/init.go
  cmd/cloudpull/resume.go
  cmd/cloudpull/status.go
  cmd/cloudpull/sync.go
  internal/app/app.go
  internal/app/app_signal_unix_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: improve error handling and code quality
  cmd/cloudpull/resume.go
  cmd/cloudpull/status.go
  internal/api/auth.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

ci: remove Windows support from test and build workflows
  .github/workflows/ci.yml
  .goreleaser.yml
  scripts/test.sh
Due: none

refactor: improve error handling and code clarity
  internal/config/config.go
  internal/config/config_test.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/state/database.go
  internal/state/files.go
  internal/state/folders.go
  internal/state/manager.go
  internal/state/manager_test.go
  internal/state/models.go
  internal/state/queries.go
  internal/state/sessions.go
  internal/state/state.go
  internal/sync/downloader.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

docs: update project documentation
  .claude/PROJECT_OVERVIEW.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .gitignore
  CLI_USAGE.md
  README.md
Due: none

fix: address gosec security findings G302 and G304
  internal/api/client.go
  internal/app/app.go
  internal/app/example_usage.go
  internal/config/config.go
  internal/errors/handler.go
  internal/sync/engine.go
  internal/sync/progress.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: handle viper config errors and validate chunk size input
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: resolve lint errors in error handler
  internal/config/config_test.go
  internal/errors/handler.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

passing lints
  internal/config/config.go
  internal/config/config_test.go
  internal/sync/engine.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec

fix: update Dockerfile for Go 1.24 and remove brittle version pins
  Dockerfile
Due: none

some-tiny changes
  internal/sync/engine.go
Due: go-fmt, go-generate, go-build, go-test-unit, go-sec
